{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "10"
            }
          }
        ],
        "@babel/react"
      ],
      "plugins": ["dynamic-import-node"]
    }
  },
  "presets": [
    ["@babel/env", { "useBuiltIns": "entry", "corejs": "2" }],
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    "@babel/syntax-dynamic-import",
    "styled-components"
  ]
}
