{
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.7"
    },
    "polyfills": ["fetch"]
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:compat/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["jest", "react-hooks", "flowtype"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "arrow-body-style": "off"
  }
}
