{
  "plugins": ["cypress"],
  "extends": ["plugin:cypress/recommended"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "jest/valid-expect": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
